POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_USER=kittygram_user
DB_PASSWORD=kittygram_password
DB_HOST=db
DB_PORT=5432

SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=your_domain,127.0.0.1,localhost
